{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% include 'components/navbar.html' %}
    <div class="container">
        <h1>Crea tu emprendimiento </h1>
        <form>
            <div class="form-group">
                <label for="nombre">Nombre de la startup:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            
            <div class="form-group">
                <label for="categoria">Categoría:</label>
                <select class="form-control" id="categoria" name="categoria" required>
                    <option value="">Seleccione una categoría</option>
                    <option value="Tecnología">Tecnología</option>
                    <option value="Salud">Salud</option>
                    <option value="Educación">Educación</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
            </div>

            <div class="form-group">
                <label for="imagen">Imagen:</label>
                <input type="file" class="form-control-file" id="imagen" name="imagen">
            </div>

            <input type="submit" class="btn btn-primary" value="Crear startup">
        </form>
    </div>
