{% include 'components/navbar.html' %}

<div class="container mt-4">
    <h1>Modulo Financiero</h1>
    <p>El valor de los egresos e ingresos deben ser por perido anual.</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="hidden" id="proyecto_id" name="proyecto_id" value="{{ proyecto.id }}">
            <input type="hidden" id="financiero_id" name="financiero_id" value="{{ financiero.id }}">
        </div>

        <div class="form-group">
            <label for="ventas">Ventas:</label>
            <input type="number" id="ventas" name="ventas" class="form-control" value="{{financiero.ventas}}" required>
        </div>
        <div class="form-group">
            <label for="costos">Costos de producción:</label>
            <input type="number" id="costos_produccion" name="costos_produccion" class="form-control" value="{{financiero.costos_produccion}}" required>
        </div>
        <div class="form-group">
            <label for="gastos">Gastos administrativos:</label>
            <input type="number" id="gastos_administrativos" name="gastos_administrativos" class="form-control" value="{{financiero.gastos_administrativos}}" required>
        </div>
        <div class="form-group">
            <label for="capital">Capital propio:</label>
            <input type="number" id="capital_propio" name="capital_propio" class="form-control" value="{{financiero.capital_propio}}" required>
        </div>
        <div class="form-group">
            <label for="prestamo">Préstamos:</label>
            <input type="number" id="prestamo" name="prestamo" class="form-control" value="{{financiero.prestamo}}" required>
        </div>
        <div class="form-group">
            <label for="inversores">Inversores:</label>
            <input type="number" id="inversores" name="inversores" class="form-control" value="{{financiero.inversores}}" required>
        </div>
        <!-- Add more input fields for other sources of financing if needed -->
        <button type="submit" class="btn btn-primary mt-4">Guardar</button>
    </form>
</div>