# Archivos y directorios generados por Django
*.pyc
__pycache__/
*.sqlite3

# Archivos y directorios generados por el entorno virtual
venv/
env/

# Archivos y directorios generados por el IDE
.vscode/
.idea/

# Archivos y directorios generados por el sistema operativo
.DS_Store
Thumbs.db
