{% include 'components/navbar.html' %}

<style>
    .form-group {
        margin-bottom: 20px;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary" href="/gestionar_proyecto/{{ proyecto.id }}"><i class="fas fa-arrow-left"></i></a>
            <h1>Modulo Marketing</h1>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <h5>Mercado objetivo</h5>
                    <p>Breve descripcion del mercado objetivo de su producto</p>
                    <textarea class="form-control" id="mercado_objetivo" name="mercado_objetivo" required>Ejemplo: Amantes del vino, Coleccionistas de arte, Jugadores de videojuegos....</textarea>
                </div>
                <div class="form-group">
                    <h5>Segmentacion clientes</h5>
                    <p>Breve descripcion del cliente</p>
                    <textarea class="form-control" id="segmentacion_cliente" name="segmentacion_cliente" required>ejemplo: edades, nacionalidades, aficiones....</textarea>
                </div>
                <div class="form-group">
                    <h5>Canales de marketing</h5>
                    <p>Define el tipo de canal de marketing que desea basar la estrategia.</p>
                    <input type="text" class="form-control" id="canal_marketing" name="canal_marketing" placeholder="Ejemplo: publicidad, redes sociales, email..." required>
                </div>
                <div class="form-group">
                    <h5>Estrategia de precio y promociones</h5>
                    <p>Define que estrategias y promociones se tendran en cuenta para la estrategia de marketing.</p>
                    <input type="text" class="form-control" id="estrategia_precio_promocion" name="estrategia_precio_promocion" placeholder="Ejemplo: precio introductorio, cupones, descuentos..." required>
                </div>

                <div class="form-group">
                    <h5>Gastos de marketing</h5>
                    <p>Ingresa un supuesto de gastos de marketing para esta estrategia, los gastos son para un periodo anual.</p>
                    <input type="number" class="form-control" id="gastos_marketing" name="gastos_marketing" placeholder="10000" required>
                </div>
                <button type="submit" class="btn btn-primary">Crear</button>
            </form>
        </div>
    </div>
</div>
