{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<body style="margin: 0; padding: 0;">
    <div class="row">
        <div class="col-md-6" style="background-color: #141414; text-align: center;">
            <img src="https://i.ibb.co/mq6pK3c/logo.jpg" alt="logo" style="max-width: 100%; max-height: 100%;">
        </div>
        <div class="col-md-6" style="display: flex; flex-direction: column; justify-content: center; background-color: #a3a3a3;">
            <div class="card" style="background-color: #a3a3a3;">
                <div class="card-body">
                    <h1>Start Up simulator usc</h1>
                    <p>Startup usc busca incentivar el lado emprendedor de los estudiantes de la Universidad Santiago de Cali a través de una herramienta de simulación de un startup sencilla e intuitiva, donde el estudiante debe gestionar recursos y tomar decisiones de manera correcta para llevar al éxito el negocio. La herramienta de simulación ayuda a los estudiantes a tener una idea de lo que significa administrar un negocio.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center" style="margin-top: 50px; margin-bottom: 20px;">
            <a href="/login/" class="btn btn-primary btn-lg" style="width: 200px;">Iniciar sesión</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center" style="margin-top: 50px; margin-bottom: 50px;">
            <a href="/signup" class="btn btn-secondary btn-lg" style="width: 200px;">Registrarse</a>
        </div>
    </div>
</body>
