{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% include 'components/navbar.html' %}


<div class="container">
    <h1>Mis Proyectos</h1>
    <h5>{{email}}</h5>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://logo.com/image-cdn/images/kts928pd/production/c3fa21bee0847f3d8b65e7da1bb573104a26ddc3-359x363.png?w=1080&q=72" class="img-fluid rounded-start" alt="Project Image" style=" height: 100%;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Proyecto 1</h5>
                            <p class="card-text">Descripción del proyecto 1.</p>
                            <a href="#" class="btn btn-primary">Ver Proyecto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://logo.com/image-cdn/images/kts928pd/production/c3fa21bee0847f3d8b65e7da1bb573104a26ddc3-359x363.png?w=1080&q=72" class="img-fluid rounded-start" alt="Project Image" style="height: 100%;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Proyecto 2</h5>
                            <p class="card-text">Descripción del proyecto 2.</p>
                            <a href="#" class="btn btn-primary">Ver Proyecto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>