{% include 'components/navbar.html' %}

<style>
    .form-group {
        margin-bottom: 20px;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary" href="/gestionar_proyecto/{{ proyecto.id }}"><i class="fas fa-arrow-left"></i></a>
            <h1>Modulo Identidad</h1>
            <p></p>
        </div>
    </div>
</div>
<div class="container">
    



<form method="POST"> 
    {% csrf_token %}

    <div class="form-group">
        <h5>Mision:</h5>
        <p>Defina la razón de ser del emprendimiento, describe el propósito fundamental y la actividad principal a la que se dedica. Responde a la pregunta ¿Qué hacemos?</p>
        {% comment %} <label for="mision">Misión:</label> {% endcomment %}
        <textarea class="form-control" id="mision" name="mision" rows="3" required></textarea>
    </div>
    <div class="form-group">
        <h5>Vision:</h5>
        <p>proyección futura que se desea alcanzar, es la situación ideal que se espera lograr en un plazo determinado. Responde a la pregunta ¿Qué queremos ser?</p>
        {% comment %} <label for="vision" show="hiden">Visión:</label> {% endcomment %}
        <textarea class="form-control" id="vision" name="vision" rows="3" required></textarea>
    </div>
    <div class="form-group">
        <h5>Valores:</h5>
        <p>Principios éticos y morales que rigen el comportamiento y las decisiones del emprendimiento. Establecen la filosofía y la cultura organizacional.</p>
        {% comment %} <label for="valores">Valores:</label> {% endcomment %}
        <textarea class="form-control" id="valores" name="valores" rows="3" required></textarea>
    </div>
    <div class="form-group">
        <h5>Objetivos:</h5>
        <p>Resultados específicos que se desean alcanzar en un período de tiempo determinado. Deben ser medibles, alcanzables, relevantes y enmarcados en un tiempo específico.</p>
        {% comment %} <label for="objetivos">Objetivos:</label> {% endcomment %}
        <textarea class="form-control" id="objetivos" name="objetivos" rows="3" required></textarea>
    </div>

    {% comment %} <div class="form-group">
        <h5>Definir logo:</h5>
        <p>Sube una imagen o genera un logo con inteligencia artificial.</p>
        <img id="preview" src="#" alt="Preview" style="display: none; max-width: 200px; max-height: 200px;">
        <input type="file" class="form-control" id="imagen" name="imagen">
        <br>
        <a href="/generador-logo/" class="btn btn-secondary mt-2">Generar Logo</a>
    </div> {% endcomment %}

    <button type="submit" class="btn btn-primary">Guardar <i class="fas fa-save"></i></button>
</form>

</div>


<script>
    document.getElementById('imagen').addEventListener('change', function(e) {
        var file = e.target.files[0];
        var reader = new FileReader();
    
        reader.onloadend = function() {
            document.getElementById('preview').src = reader.result;
            document.getElementById('preview').style.display = 'block';
        }
    
        if (file) {
            reader.readAsDataURL(file);
        } else {
            document.getElementById('preview').src = "";
        }
    });
    </script>