{% include 'components/navbar.html' %}
    <div class="container">
        <h1>Crea tu emprendimiento </h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre de la startup:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            
            <div class="form-group">
                <label for="categoria">Categoría:</label>
                <select class="form-control" id="categoria" name="categoria" required>
                    <option value="">Seleccione una categoría</option>
                    <option value="Tecnología">Tecnología</option>
                    <option value="Salud">Salud</option>
                    <option value="Educación">Educación</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
            </div>

            <div class="form-group">
                <label for="fecha_fundacion">Fecha de fundación:</label>
                <input type="date" class="form-control" id="fecha_fundacion" name="fecha_fundacion" required>
            </div>

            <div class="form-group mt-2">
                <label for="imagen">Imagen:</label>
                <img id="preview" src="{{image_url}}" alt="Preview" style="display: none; max-width: 200px; max-height: 200px;">
                <input type="file" class="form-control" id="imagen" name="imagen">
            </div>

            <a href="" id="generar" name="generar" class="btn btn-secondary mt-2">Generar Logo</a>

            <br>
            <input type="submit" class="btn btn-primary mt-2" value="Crear startup">

        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        document.querySelector('form').addEventListener('click', function(e) {
            e.preventDefault();
            var nombre = document.getElementById('nombre').value;
            var descripcion = document.getElementById('descripcion').value;
            // Do something with the captured data
            document.getElementById('generar').addEventListener('click', function(e) {
                generar_logo(nombre, descripcion);
            });
        });
        

        function generar_logo(nombre, descripcion){
            // Do something to generate the logo
            if (!nombre || !descripcion) {
                console.log('Por favor, ingrese el nombre y la descripción de la startup');
            } else {
                console.log("generando logo")
                $.ajax({
                    url: '/generador-logo/',  // replace with the path to your Django view
                    type: 'post',
                    data: {
                        'nombre': nombre,
                        'descripcion': descripcion,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'  // Django requires this for security
                    },
                    success: function(response) {
                        console.log(response);
                    }
                });
                
            }
            
        }
    </script>




    <script>
        document.getElementById('imagen').addEventListener('change', function(e) {
            var file = e.target.files[0];
            var reader = new FileReader();
        
            reader.onloadend = function() {
                document.getElementById('preview').src = reader.result;
                document.getElementById('preview').style.display = 'block';
            }
        
            if (file) {
                reader.readAsDataURL(file);
            } else {
                document.getElementById('preview').src = "";
            }
        });
        </script>