{% include 'components/navbar.html' %}
    <div class="container">
        <h1>Crea tu emprendimiento </h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre de la startup:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            
            <div class="form-group">
                <label for="categoria">Categoría:</label>
                <select class="form-control" id="categoria" name="categoria" required>
                    <option value="">Seleccione una categoría</option>
                    <option value="Tecnología">Tecnología</option>
                    <option value="Salud">Salud</option>
                    <option value="Educación">Educación</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
            </div>

            <div class="form-group">
                <label for="fecha_fundacion">Fecha de fundación:</label>
                <input type="date" class="form-control" id="fecha_fundacion" name="fecha_fundacion" required>
            </div>

            <div class="form-group mt-2">
                <label for="imagen">Imagen:</label>
                <img id="preview" src="#" alt="Preview" style="display: none; max-width: 200px; max-height: 200px;">
                <input type="file" class="form-control-file" id="imagen" name="imagen">
                
            </div>

            <input type="submit" class="btn btn-primary mt-2" value="Crear startup">
        </form>
    </div>
    <script>
        document.getElementById('imagen').addEventListener('change', function(e) {
            var file = e.target.files[0];
            var reader = new FileReader();
        
            reader.onloadend = function() {
                document.getElementById('preview').src = reader.result;
                document.getElementById('preview').style.display = 'block';
            }
        
            if (file) {
                reader.readAsDataURL(file);
            } else {
                document.getElementById('preview').src = "";
            }
        });
        </script>