{% include 'components/navbar.html' %}

<style>
    i {
        font-size: 30px;
    }

    .col-md-4 {
        margin-bottom: 10vh;
    }

    .panel a {
        padding: 20px;
        width: 250px; 
        height: 130px;
    }
</style>

<div class="panel">
<div class="container align-items-center justify-content-center" style="height: 100%; margin: 10%;">
    <div class="row" >
        <div class="col-md-4">
            <a href="/identidad/{{ proyecto.id }}" class="btn btn-primary btn-lg btn-block" >
                <i class="fas fa-id-card"></i>
                <br>
                Identidad del emprendimiento
            </a>
        </div>
        <div class="col-md-4">
            <a href="/marketing/{{ proyecto.id }}" class="btn btn-success btn-lg btn-block">
                <i class="fas fa-bullhorn"></i>
                <br>
                Marketing
            </a>
        </div>
        <div class="col-md-4">
            <a href="/producto/{{ proyecto.id }}" class="btn btn-info btn-lg btn-block">
                <i class="fas fa-cube"></i>
                <br>
                Productos/Servicios
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="/recursos_humanos/{{ proyecto.id }}" class="btn btn-warning btn-lg btn-block">
                <i class="fas fa-users"></i>
                <br>
                Recursos Humanos
            </a>
        </div>
        <div class="col-md-4">
            <a href="/financiero/{{ proyecto.id }}" class="btn btn-danger btn-lg btn-block">
                <i class="fas fa-chart-line"></i>
                <br>
                Financiero
            </a>
        </div>
        <div class="col-md-4">
            <a href="/analisis/{{ proyecto.id }}" class="btn btn-secondary btn-lg btn-block">
                <i class="fas fa-rocket"></i>
                <br>
                Analisis
            </a>
        </div>
        <div class="col-md-4">
            <a href="/dashboard/{{ proyecto.id }}" class="btn btn-success btn-lg btn-block">
                <i class="fas fa-chart-line"></i>
                <br>
                Dashboard
            </a>
        </div>
    </div>
</div>
</div>