{% include 'components/navbar.html' %}

<style>
    i {
        font-size: 30px;
    }

    .col-md-4 {
        margin-bottom: 10vh;
    }

    .panel a {
        padding: 20px;
        width: 250px; 
        height: 130px;
    }
</style>

<div class="panel">
<div class="container align-items-center justify-content-center" style="height: 100%; margin: 10%;">
    <div class="row" >
        <div class="col-md-4">
            <a href="/financiero/{{ proyecto.id }}" class="btn btn-primary btn-lg btn-block" >
                <i class="fas fa-chart-line"></i>
                <br>
                Financiero
            </a>
        </div>
        <div class="col-md-4">
            <a href="/marketing/" class="btn btn-success btn-lg btn-block">
                <i class="fas fa-bullhorn"></i>
                <br>
                Marketing
            </a>
        </div>
        <div class="col-md-4">
            <a href="/producto/" class="btn btn-info btn-lg btn-block">
                <i class="fas fa-cube"></i>
                <br>
                Producto
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="#" class="btn btn-warning btn-lg btn-block">
                <i class="fas fa-users"></i>
                <br>
                Talento Humano
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-danger btn-lg btn-block">
                <i class="fas fa-cogs"></i>
                <br>
                Otro Módulo
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-secondary btn-lg btn-block">
                <i class="fas fa-rocket"></i>
                <br>
                Otro Módulo
            </a>
        </div>
    </div>
</div>
</div>