{% include 'components/navbar.html' %}



<div class="container" style="margin-top: 5vh;">
    <div class="row">
        <div class="col-md-6">
            <h1>Mis Proyectos</h1>
        </div>
        <div class="col-md-6 text-end">
            <a class="btn btn-success" href="/crear_proyecto/">Crear proyecto <i class="fas fa-plus"></i> </a>
        </div>
    </div>
    

    <div class="row">
        {% for proyecto in proyectos %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ proyecto.nombre }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ proyecto.categoria }}</h6>
                            <p class="card-text">{{ proyecto.descripcion }}</p>
                            <a href="/gestionar_proyecto/{{ proyecto.id }}" class="btn btn-success"> <i class="fas fa-cogs"></i> </a>
                            <a href="/editar_proyecto/{{ proyecto.id }}" class="btn btn-primary"> <i class="fas fa-pencil-alt"></i> </a>
                            <a href="/eliminar_proyecto/{{ proyecto.id }}" class="btn btn-danger"> <i class="fas fa-trash"></i> </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="{{proyecto.imagen.url}}" class="img-fluid rounded-end" alt="Project Image">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% comment %} <a class="btn btn-primary" href="/asistente_ia/">asistente</a> {% endcomment %}
    </div>

</div>